<head>
  <title>Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <base href="/">
</head>
<body ng-app="scanApp">
  <div layout="column" ng-controller="homeController">
      <md-sidenav class="md-sidenav-left" md-component-id="left"
                  md-disable-backdrop md-whiteframe="4">
        <md-content layout-margin>
          <md-button ng-click="toggleLeft()">
            <i class="material-icons">close</i>
          </md-button>
        </md-content>
      </md-sidenav>
    <!-- <side-nav md-whiteframe="4"></side-nav> -->
    <div class="container" flex="100" layout="column">
      <md-toolbar class="md-tall main logo" layout="row">
        <div class="menu-button" flex="10">
          <a ng-click="toggleLeft()"><i class="material-icons">menu</i></a>
        </div>
        <span class="logo" flex="90">
          <h1>Security scan</h1>
        </span>
      </md-toolbar>
      <div ng-view></div>
    </div>
  </div>
</body>
