body {
  background: #fafafa;
  height: auto !important; }

.menu-button {
  margin: 2em; }
  .menu-button i {
    color: #1ab188; }

.logo h1 {
  text-align: center;
  color: #1ab188;
  font-weight: 100; }

i.logo {
  color: #1ab188;
  font-size: 4.5em;
  line-height: 2; }

md-toolbar.main {
  background: transparent; }

md-toolbar.todolist {
  background: #37474F; }

.protocol-select {
  height: 40px;
  margin-bottom: 0; }

.search {
  margin: 2em;
  padding: 1.5em;
  margin-bottom: 0; }

.main-input {
  /*margin: 1.5em;*/
  /*border-radius: $main-border-radius;*/
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  margin: 0 auto;
  background: #fafafa;
  padding: 0;
  border: 1px solid #1ab188; }
  .main-input .git-logo {
    background: #1ab188;
    display: block;
    /*border-top-left-radius: $main-border-radius;
    border-bottom-left-radius: $main-border-radius;*/ }
    .main-input .git-logo img {
      display: block;
      margin: 0 auto;
      padding-top: 0.5em; }
  .main-input input {
    /*width: 80% !important;
    padding: 1.2em;
    margin: 0 auto!important;
    padding: 1em 2em;*/
    margin-bottom: 0;
    height: 60px !important;
    border: 0;
    border-style: none;
    border-width: 0 !important;
    border-color: white; }

.main-input:focus {
  text-align: center; }

.main-input input::placeholder {
  padding-left: 0.5em; }

.main-input input:focus {
  border: none !important; }

.md-button span {
  display: block;
  font-size: 0.80em;
  line-height: 1.5; }

.scan-icon img {
  width: 10%;
  margin: 0 auto;
  display: block;
  margin-top: 2.5em; }

.home .md-button {
  background: #1ab188;
  color: #FFF;
  margin: 0;
  margin-left: 0.5em;
  border-radius: 0px;
  height: 50px; }
.home md-progress-linear {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.5em; }
  .home md-progress-linear .md-container {
    background: #6d6d6d; }
  .home md-progress-linear .md-bar {
    background-color: #1ab188; }

side-nav {
  background: #1ab188; }

.side-nav {
  background: #1ab188;
  height: 100vh; }

.side-nav .btn {
  margin: 45px 0;
  color: #1ab188; }

.status span {
  color: #8b989e;
  font-size: 1.2em; }

/* Scan list */
.scan-tools-list {
  padding: 2.5em; }
  .scan-tools-list ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0; }
  .scan-tools-list .form-control {
    border-color: #E1E1E1; }
  .scan-tools-list .task-list {
    margin-bottom: 45px; }
    .scan-tools-list .task-list h2 {
      color: #1ab188;
      font-weight: 200; }
  .scan-tools-list .task,
  .scan-tools-list .completed-task {
    position: relative; }
    .scan-tools-list .task a,
    .scan-tools-list .completed-task a {
      bottom: 0;
      color: #EEE;
      display: block;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 40px; }
      .scan-tools-list .task a:hover,
      .scan-tools-list .completed-task a:hover {
        color: #75B51B;
        cursor: pointer; }
      .scan-tools-list .task a i,
      .scan-tools-list .completed-task a i {
        height: 20px;
        line-height: 20px;
        margin-top: -10px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 20px; }
  .scan-tools-list .task {
    background-color: #FFF;
    /*border-radius: $main-border-radius;*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 5px;
    padding: 10px 55px 10px 15px; }
  .scan-tools-list .completed-task {
    color: #999;
    font-size: 13px;
    text-decoration: line-through; }
    .scan-tools-list .completed-task a {
      color: #DDD; }
      .scan-tools-list .completed-task a:hover {
        color: #D6563A; }

/*# sourceMappingURL=main.css.map */
