/* CSS declarations go here */
body {
  background: ;
}

.logo h1{
  text-align: center;
  color: #7f8c8d;

}

.logo i {
  color: #aedd94;
  font-size: 2.5em;
  line-height: 2;
}

md-toolbar.main {
  background: transparent;
}

md-toolbar.todolist {
  background: #37474F;
}

.protocol-select {
  height: 40px;
  margin-bottom: 0;
}
.search {
  margin: 2em;
  margin-bottom: 0;
}
.main-input {
  /*margin: 1.5em;*/
  border: 1px solid #DDD !important;
  height: 41px;
  margin-bottom: 0;
}

.main-input:focus {
  /*text-align: center;*/
}
.main-input input::placeholder {
  /*text-align: center;*/
  padding-left: 0.5em;
}
.main-input input:focus {
  border: none;
}
.main-input input {
  /*width: 80% !important;
  padding: 1.2em;
  margin: 0 auto!important;
  padding: 1em 2em;*/
  border: 0;
  margin-bottom: 0;
}

.md-button span {
 display: block;
 font-size: 0.80em;
 line-height: 1.5;
}

.scan-icon img {
  width: 16%;
  margin: 0 auto;
  display: block;
  margin-top: 2.5em;
}

.home .md-button {
  background: #3d8af7;
  width: 80%;
  margin: 0 auto;
  color: #FFF;
  margin-top: 2.5em;
}

.home md-progress-linear {
  width: 93%;
  margin: 0 auto;
  padding-bottom: 1.5em;
}

side-nav {
  background: #fff;
}

.side-nav {
  background: #fff;
  height: 100vh;
}

.side-nav .btn {
  margin: 45px 0;
  color: #3d8af7;
}
