$main-border-radius: 5px;
$main-background: #fafafa;
$main-light: #fafafa;
$alert-background: #C2185B;
$primary: #1ab188;
$default: #435259;
$text-default: #8b989e;
$text-primary: #1ab188;
$text-highlight: $primary;

body {
  background: $main-background;
  height: auto !important;
}

.menu-button {
  margin: 2em;
  i {
    color: $primary;
  }
}
.logo h1{
  text-align: center;
  color: $text-primary;
  font-weight: 100;
}

i.logo {
  color: $text-primary;
  font-size: 4.5em;
  line-height: 2;

}

md-toolbar.main {
  background: transparent;
}

md-toolbar.todolist {
  background: #37474F;
}

.protocol-select {
  height: 40px;
  margin-bottom: 0;
}
.search {
  margin: 2em;
  padding: 1.5em;
  margin-bottom: 0;
}
.main-input {
  /*margin: 1.5em;*/
  /*border-radius: $main-border-radius;*/
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  margin: 0 auto;
  background: $main-light;
  padding: 0;
  border: 1px solid $primary;
  .git-logo {
    background: $primary;
    display: block;
    /*border-top-left-radius: $main-border-radius;
    border-bottom-left-radius: $main-border-radius;*/
    img {
      display: block;
      margin: 0 auto;
      padding-top: 0.5em;
    }
  }
  input {
   /*width: 80% !important;
   padding: 1.2em;
   margin: 0 auto!important;
   padding: 1em 2em;*/
   margin-bottom: 0;
   height: 60px !important;
   border: 0;
   border-style: none;
   border-width: 0 !important;
   border-color: white;

 }
}

.main-input:focus {
  text-align: center;
}
.main-input input::placeholder {
  padding-left: 0.5em;
}
.main-input input:focus {
  border: none !important;
}
.md-button span {
 display: block;
 font-size: 0.80em;
 line-height: 1.5;
}

.scan-icon {
  img {
    width: 10%;
    margin: 0 auto;
    display: block;
    margin-top: 2.5em;
  }
}

.home {
  .md-button {
    background: $primary;
    color: #FFF;
    margin: 0;
    margin-left: 0.5em;
    border-radius: 0px;
    height: 50px;
  }
  md-progress-linear {
   width: 100%;
   margin: 0 auto;
   padding-bottom: 1.5em;
   .md-container {
     background: #6d6d6d;
   }
   .md-bar {
     background-color: rgb(26, 177, 136);
   }
 }

}

side-nav {
  background: $primary;
}

.side-nav {
  background: $primary;
  height: 100vh;
}

.side-nav .btn {
  margin: 45px 0;
  color: $text-primary;
}

.status{
  span{
    color: $text-default;
    font-size: 1.2em;
  }

}
/* Scan list */

.scan-tools-list {
  padding: 2.5em;

  .bug {
    color: #B22900;
  }
  ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
  }
  .form-control {
    border-color: #E1E1E1;
  }
  .task-list {
    margin-bottom: 45px;
    h2 {
      color: $primary;
      font-weight: 200;
    }
  }
  .task,
  .completed-task {
    position: relative;

    a {
      bottom: 0;
      color: #EEE;
      display: block;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 40px;

      &:hover {
        color: #75B51B;
        cursor: pointer;
      }

      i {
        height: 20px;
        line-height: 20px;
        margin-top: -10px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 20px;
      }
    }
  }

  .task {
    background-color: #FFF;
    /*border-radius: $main-border-radius;*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 5px;
    padding: 10px 55px 10px 15px;
  }

  .completed-task {
    color: #999;
    font-size: 13px;
    text-decoration: line-through;

    a {
      color: #DDD;

      &:hover {
        color: #D6563A;
      }
    }
  }
}
