<div class="bottom-menu">
  <md-bottom-sheet class="md-grid">
    <div ng-cloak>
      <md-list flex layout="row" layout-align="center center">
        <md-list-item>
            <md-button class="md-grid-item-content">
              <i class="material-icons">send</i>
              <div class="md-grid-text">Send </div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content">
              <i class="material-icons">file_download</i>
              <div class="md-grid-text"> Download</div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content">
              <i class="material-icons">visibility</i>
              <div class="md-grid-text">+ details</div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content">
              <i class="material-icons">update</i>
              <div class="md-grid-text">Re-scan</div>
            </md-button>
        </md-list-item>
      </md-list>
    </div>
  </md-bottom-sheet>
</div>
