<md-content class="side-nav" layout-margin>
  <md-button href="/login" class="btn">
    <i class="material-icons">account_circle</i>
    <span>My account</span>
  </md-button> <br>
  <md-button href="/project-list" class="btn">
    <i class="material-icons">scanner</i>
    <span>Scanned <br>projects</span>
  </md-button><br>
  <md-button href="/contact-list" class="btn">
      <i class="material-icons">perm_contact_calendar</i>
      <span>Contacts</span>
  </md-button> <br>
  <md-button href="/settings" class="btn">
      <i class="material-icons">settings</i>
      <span>Settings</span>
  </md-button>
</md-content>
