<div layout="column" class="home">
  <div layout="row" class="search">
    <div layout="column" flex="80">
      <md-input-container class="main-input"
                          md-no-float
                          layout="row">
        <span class="git-logo" flex="20" layout-align="center center">
          <img src="icons/github-big-logo.svg"
               alt="PHP security scan"
               flex="20">
        </span>
        <input ng-model="git_url"
               placeholder="purifyphp/purifyphp.git"
               flex="80">
      </md-input-container>
      <md-progress-linear md-mode="determinated"  ng-disabled="!showLoader"></md-progress-linear>
      <div class="status" ng-if="showStatus">
        <span>
          Your project... is {{ projectStatus }}
        </span>
      </div>
    </div>
    <md-button ng-click="sendGitUrl()" flex="20">Go and Scan</md-button>
  </div>
  <div ng-repeat="plugin in plugins">
   <collapse is-open=true title="{{plugin.name}}" class="{{plugin.indicator}} collapser">
      <!-- <span>{{plugin.description}}</span>
      <span>{{plugin.logFile}}</span> -->

      <p ng-bind-html="plugin.log"></p>
   </collapse>
  </div>
  <collapse is-open=false title="test" class="collapser">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc velit.
    Donec efficitur dolor placerat pharetra euismod. Aenean vel enim malesuada,
    scelerisque massa aliquam, gravida magna. Proin feugi
    at tincidunt lacus, id sagittis ipsum laoreet sit amet. Aenean blandit, nibh
    non vehicula aliquet, odio velit fringilla ipsum, sit amet pretium sapien diam
    in purus. Praesent vulputate vehicula metus, sed tincidunt libero ullamcorper
    vel. Donec imperdiet congue dolor, ut fermentum nunc. Aliquam eu sem in nulla
    mattis pulvinar in et dolor. In eu metus ut tellus varius bibendum eu et odio.
    Ut nec nulla ac orci laoreet iaculis eu in sem.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc velit.
    Donec efficitur dolor placerat pharetra euismod. Aenean vel enim malesuada,
    scelerisque massa aliquam, gravida magna. Proin feugi
    at tincidunt lacus, id sagittis ipsum laoreet sit amet. Aenean blandit, nibh
    non vehicula aliquet, odio velit fringilla ipsum, sit amet pretium sapien diam
    in purus. Praesent vulputate vehicula metus, sed tincidunt libero ullamcorper
    vel. Donec imperdiet congue dolor, ut fermentum nunc. Aliquam eu sem in nulla
    mattis pulvinar in et dolor. In eu metus ut tellus varius bibendum eu et odio.
    Ut nec nulla ac orci laoreet iaculis eu in sem.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc velit.
    Donec efficitur dolor placerat pharetra euismod. Aenean vel enim malesuada,
    scelerisque massa aliquam, gravida magna. Proin feugi
    at tincidunt lacus, id sagittis ipsum laoreet sit amet. Aenean blandit, nibh
    non vehicula aliquet, odio velit fringilla ipsum, sit amet pretium sapien diam
    in purus. Praesent vulputate vehicula metus, sed tincidunt libero ullamcorper
    vel. Donec imperdiet congue dolor, ut fermentum nunc. Aliquam eu sem in nulla
    mattis pulvinar in et dolor. In eu metus ut tellus varius bibendum eu et odio.
    Ut nec nulla ac orci laoreet iaculis eu in sem.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc velit.
    Donec efficitur dolor placerat pharetra euismod. Aenean vel enim malesuada,
    scelerisque massa aliquam, gravida magna. Proin feugi
    at tincidunt lacus, id sagittis ipsum laoreet sit amet. Aenean blandit, nibh
    non vehicula aliquet, odio velit fringilla ipsum, sit amet pretium sapien diam
    in purus. Praesent vulputate vehicula metus, sed tincidunt libero ullamcorper
    vel. Donec imperdiet congue dolor, ut fermentum nunc. Aliquam eu sem in nulla
    mattis pulvinar in et dolor. In eu metus ut tellus varius bibendum eu et odio.
    Ut nec nulla ac orci laoreet iaculis eu in sem.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc velit.
    Donec efficitur dolor placerat pharetra euismod. Aenean vel enim malesuada,
    scelerisque massa aliquam, gravida magna. Proin feugi
    at tincidunt lacus, id sagittis ipsum laoreet sit amet. Aenean blandit, nibh
    non vehicula aliquet, odio velit fringilla ipsum, sit amet pretium sapien diam
    in purus. Praesent vulputate vehicula metus, sed tincidunt libero ullamcorper
    vel. Donec imperdiet congue dolor, ut fermentum nunc. Aliquam eu sem in nulla
    mattis pulvinar in et dolor. In eu metus ut tellus varius bibendum eu et odio.
    Ut nec nulla ac orci laoreet iaculis eu in sem.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nunc velit.
    Donec efficitur dolor placerat pharetra euismod. Aenean vel enim malesuada,
    scelerisque massa aliquam, gravida magna. Proin feugi
    at tincidunt lacus, id sagittis ipsum laoreet sit amet. Aenean blandit, nibh
    non vehicula aliquet, odio velit fringilla ipsum, sit amet pretium sapien diam
    in purus. Praesent vulputate vehicula metus, sed tincidunt libero ullamcorper
    vel. Donec imperdiet congue dolor, ut fermentum nunc. Aliquam eu sem in nulla
    mattis pulvinar in et dolor. In eu metus ut tellus varius bibendum eu et odio.
    Ut nec nulla ac orci laoreet iaculis eu in sem.
  </collapse>
  <a class="more-btn md-fab md-raised" ng-click="showGridBottomSheet()">
    <i class="material-icons">more_vert</i>
  </a>
</div>
