<div layout="column" class="home">
  <div layout="row" class="search">
    <div layout="column" flex="80">
      <md-input-container class="main-input"
                          md-no-float
                          layout="row">
        <span class="git-logo" flex="20" layout-align="center center">
          <img src="icons/github-big-logo.svg"
               alt="PHP security scan"
               flex="20">
        </span>
        <input ng-model="git_url"
               placeholder="purifyphp/purifyphp.git"
               flex="80">
      </md-input-container>
      <md-progress-linear md-mode="determinated"  ng-disabled="!showLoader"></md-progress-linear>
      <div class="status" ng-if="showStatus">
        <span>
          Your project... is {{ projectStatus }}
          <img src="public/icons/project.svg" alt="">
        </span>
      </div>
    </div>
    <md-button ng-click="sendGitUrl()" flex="20">Go and Scan</md-button>
  </div>
  <div class="scan-tools-list">
    <div class="task-list">
      <h2>Tests remaining  {{ tasks.length }} /
        {{ getTotalTasks() }}
        ({{ calculatePercent(tasks.length) }}%)
      </h2>
      <ul>
        <li ng-repeat="task in tasks" class="task"><i class="material-icons bug">bug_report</i>
          {{ task }}
          <a ng-click="markAsComplete($index)">
          <i class="material-icons">done</i>
        </a>
        </li>
      </ul>
      <!-- <form ng-submit="add(newTask)">
        <div class="form-group">
          <input ng-model="newTask" type="text" class="form-control" placeholder="Type new task and hit enter">
        </div>
      </form> -->
    </div>
    <div class="scan-icon">
      <img src="public/icons/scan.svg" alt="">
    </div>
    <div class="task-list">
      <h2>Tests Completed
        <small> {{ completedTasks.length }} / {{ getTotalTasks() }} ({{ calculatePercent(completedTasks.length) }}%)</small>
      </h2>
      <ul>
        <li ng-repeat="task in completedTasks" class="completed-task">{{ task }}
          <a ng-click="markAsIncomplete($index)">
            <i class="material-icons">undo</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
